Repository F4IF/ctree-demo, pull requests merged in 2020-05, with the labels that each got.

#147 #138 Hide FAB
  src/ctree-app/ctree-app.html
Labels: Improve, Team: Home Screen

#146 #142 Update Firebase Counts When Add Child
  src/ctree-writer/ctree-element-writer-firebase.html
  src/ctree-writer/ctree-element-writer-incremental.html
  src/ctree-writer/ctree-writer-behavior-firebase.html
Labels: Team: New Element

#126 Develop landing page landing page header #121
  src/ctree-app/ctree-landing.html
Labels: Team: Landing Page
